*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
}
.nav{
    width: 100%;
    padding: 20px;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.nav-btn{
     font-size: 20px;
     font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 8px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
}
.nav-btn:hover{
     background-color: #939292;
}
.hero{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;
}
.img-container{
    width: 100%;
    overflow: hidden;
    border-radius: 25px;

}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story{
    width: 100%;
    padding: 30px;

}
.story h2{
     font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;

}
.story p{
         color: #939292;
    font-size: 18px;
    font-weight: 700;
    font-family: "Fira Sans", sans-serif;
    margin-top: 5px;
    line-height: 25px;

}


@media screen and (max-width:700px){
    .hero{
        flex-direction: column;
    }
}