*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    min-height: 100%;
    background-color: #dbd6d6;
}
.nav{
    width: 100%;
    padding: 20px;
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.nav-btn{
     font-size: 20px;
     font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 8px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
        background-color:#dbd6d6 ;
}
.nav-btn:hover{
     background-color: #939292;
}
h2{
    padding: 24px;
       font-size: 65px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
}
.center{
    width:100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 75%;
    padding: 24px;
    border-right: 2px solid black;

}
.card{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cross{
     font-size: 18px;
     font-weight: 200;
       font-family: "Fira Sans", sans-serif;
       padding: 5px 8px 5px 8px;
       border: none;
       cursor: pointer;
       background: transparent;
}
.product{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img{
    width: 90px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.det h3{
     font-size: 20px;
     font-weight: 600;
       font-family: "Fira Sans", sans-serif;
}
.det p{
      font-size: 17px;
     font-weight: 400;
       font-family: "Fira Sans", sans-serif;
}
.qty{
    margin-top: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.qty button{
    padding: 5px;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2px solid #111;
    font-size: 14px;
    font-weight: 700;
     font-family: "Fira Sans", sans-serif;
}
.qty h4{
      font-size: 20px;
     font-weight: 600;
       font-family: "Fira Sans", sans-serif;
}
.price h5{
      font-size: 22px;
     font-weight: 400;
       font-family: "Fira Sans", sans-serif;
}
.right{
    padding: 24px;
  width: 25%;
}
 .right h4{
     font-size: 30px;
     font-weight: 300;
       font-family: "Fira Sans", sans-serif;
       text-transform: uppercase;
       color: #5a5a5a;
       margin-bottom: 8px;
 }
 .total{
    padding: 10px 0px;
 }
 .line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
 }
 .line .p1{
    font-size: 15px;
     font-weight: 400;
       font-family: "Fira Sans", sans-serif;
       text-transform: uppercase;
       color: #5a5a5a;
 }
 .line .p2{
     font-size: 15px;
     font-weight: 400;
       font-family: "Fira Sans", sans-serif;
 }
 .total-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:14px 0px 24px 0px;
 }
 .total-line p{
      font-size: 18px;
     font-weight: 600;
       font-family: "Fira Sans", sans-serif;
       text-transform: capitalize;
 }
 .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
 }
 .btn button{
    border: none;
    background-color: #111;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 400;
   font-family: "Fira Sans", sans-serif;
   text-transform: capitalize;
 }
 .btn .btn-2{
    background: transparent;
    color: #111;
 }

 @media screen  and (max-width:700px){
    .center{
        flex-direction: column;
    }
    .left{
        padding: 0;
        width: 100%;
        border: none;
    
    }
    .right{
        width: 100%;
    }
 }