*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
}
.nav{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav button{
       font-size: 22px;
     font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 4px 15px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
}
.nav button:hover{
  background-color: #cacaca;
}
.container{
    margin-top: 5px;
    width: 100%;
    height: 400px;
    position: relative;
  
}
.image{
    width: 100%;
    height: 100%;
    display: flex;
    filter: blur(3px);
    overflow: hidden;
}
.image img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-color: aquamarine;
}
.container h4{
    position: absolute;
    bottom: 35%;
      font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    color: #fff;
}
.men{
    display: flex;
    align-items: center;
    justify-content: center;
}
.divider{
    width: 100%;
}
.cards{
    display: grid;
     gap: 15px;
     grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    width: 100%;
    padding: 24px;
}
.card{
    padding: 10px;
    border-radius: 25px;
}
.card:hover{
    background-color: #cacaca;
}
.image-container{
   width: 100%;
   height: 400px;
   border-radius: 18px;
   overflow: hidden;
   position: relative;
}
.image-container img{
     width: 100%;
   height: 100%;
   object-fit: cover;
}
.hoodies-detail h3{
    margin-top: 15px;
   font-size: 25px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
}
.hoodies-detail p {
    color: #939292;
        font-size: 12px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    margin-top: 5px;
    line-height: 15px;
}
.hoodies-detail h4{
      font-size: 20px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
    margin-top: 15px;
}
.hoodies-detail h4 span{
     color: #939292;
     text-decoration: line-through;
}
.sort{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 24px;

}
.sort button{
     font-size: 20px;
     font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding: 8px 25px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-right: 5px;
}
.sort button:hover{
    background-color: #939292;
}